body{
  font-family: 'PT Sans';
  color: #6A6A6A;
  padding:20px;
  padding-bottom: 200px;
}
h1, p, input{
  margin: 5px;
}

/*styling for header (profile image, name, role) */
#header{
  display: flex;
  flex-direction: row;
}
#bio{
  margin-left: 20px;
}
#name{
  font-size: 30px;
}
#profileImg{
  width: 80px;
  height: 80px;
  -webkit-filter: drop-shadow(0px 2px 4px rgba(150,150,150,.8));
}

/*react styling (visitors)*/

h1{
  font-weight: normal;
  font-size: 20px;
  margin-top: 30px;
  text-decoration: underline;
}

input{
  font-family: 'PT Sans';
  font-size: 15px;
  border: 1px;
  border-color: rgba(255, 255, 255, 0);
  border-bottom: 1px solid #979797;
  padding:5px;
  padding-left: 0px;
  outline:0;
  width: 150px;
  border-radius:0px;
}
